.content{
  transition: transform 0.5s ease;
  transform: scaleY(0);    
  transform-origin: top;
}

.expand-content{
  transform: scaleY(1) !important;
}

.collapse-content{
  transform: scaleY(0);   
}
